# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de logs
*.log

# Ignorar la carpeta de build (si la tienes)
build/

# Archivos de configuración de IDE (si los tienes)
.idea/
.vscode/

# Otros archivos del sistema
.DS_Store
Thumbs.db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local